<div class="container-fluid">
<section class="form-dark">

    <!--Form without header-->
    <div class="card card-image"
        style="background-color: goldenrod; width: 26rem; height: 35rem;">
        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

            <!--Header-->
            <div class="text-center">
                <h3 class="white-text mb-5 mt-4 font-weight-bold" style="color: brown;text-shadow: 1px 1px"><strong>Weather</strong> <a
                        class="font-weight-bold" style="color:brown;text-shadow: 1px 3px" ><strong> App</strong></a></h3>
            </div>
            <app-display #display></app-display>

            <app-selection (onSelection)="display.update($event)"></app-selection>
        </div>
    </div>
</section>
</div>